// @use "../abstracts/variables" as *;

// :root {
//   --background: #{$color-background};
//   --foreground: #{$color-foreground};
// }

// body {
//   background: var(--background);
//   color: var(--foreground);
// }
